package component

templ Fab() {
	<ul id="fab" class="fab-menu fab-menu-bottom-right fab-menu-fixed md-fab cursor-pointer d-none">
		<li>
			<div class="fab-menu-btn btn navbar-dark btn-float rounded-round btn-icon text-white cursor-pointer" title="Піднятись догори" onclick="scrollToTop(); fabHide()">
				<i class="fab-icon-open icon-arrow-up16"></i>
			</div>
		</li>
	</ul>
}
