package component

templ LoadingIndicator() {
	<div id="loading-indicator" class="loader">
		<div class="loader-box" style="height:150px;">
			<div class="theme_xbox">
				<div class="pace_progress"></div>
				<div class="pace_activity"></div>
			</div>
		</div>
	</div>
}
