package eucustom

import (
"github.com/mdoffice/md-services/web/views/layout"
"github.com/mdoffice/md-services/web/views/search"
)

templ Index() {
@layout.Layout() {
@layout.MainCard(layout.MainCardProps{Tabs: tabsLayout()}) {
<div id="tab-content"></div>
}
@search.ResultCard()
}
}

templ tabsLayout() {
<div id="tabs" hx-get="/aeo" hx-trigger="load" hx-target="#tabs" hx-swap="innerHTML" hx-on::after-request={
  search.HideResults() }></div>
}
