#loading-indicator {
  display: none;
}

#loading-indicator .htmx-request {
  display: inline;
}

#loading-indicator.htmx-request {
  display: inline;
}

#results-body .htmx-request,
#results-footer .htmx-request {
  display: none;
}

#results-body.htmx-request,
#results-footer.htmx-request {
  display: none;
}

.nav-link:hover {
  cursor: pointer;
}
