package eucustom

import (
	"github.com/mdoffice/md-services/views/templ/layout"
	"github.com/mdoffice/md-services/views/templ/search"
)

templ Index() {
	@layout.Layout() {
		@layout.MainCard(layout.MainCardProps{Tabs: tabsLayout()}) {
			<div id="tab-content"></div>
		}
		@search.ResultCard()
	}
}

templ tabsLayout() {
	<div id="tabs" hx-get="/aeo" hx-trigger="load" hx-target="#tabs" hx-swap="innerHTML"></div>
}
